body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    background: #000;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-underline: none;
}

#stages {
    position: relative;
    background: lightgray;
    display: block;
    font-size: 24px;
    width: 1920px;
    height: 1080px;
    transform-origin: 0 0;
}

#stages canvas {
    max-width: 100%;
    max-height: 100%;
}

#stages section {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

#stages section.active {
    display: block;
}
#welcome {
    background: darkgray url(../img/home.jpg) top left no-repeat;
}
#welcome .progressBar {
    width: 480px;
    left: 72%;
    top: 45%;
    height: 100px;
    margin-left: -240px;
    margin-top: -50px;
    position: relative;
}
#welcome #easy{

}
#welcome .progressBar .startTheGame {
    box-sizing: border-box;
    height: 100px;
    background: #fff url(../img/home-btn.jpg) top left no-repeat;
    cursor: pointer;
    line-height: 100px;
    margin-bottom: 20px;
    font-size: 30px;
    display: none;
    font-weight: bolder;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
    transition: box-shadow 0.2s linear;
}

#welcome .progressBar .startTheGame.loaded {
    display: block;
}
#welcome .progressBar .startTheGame:hover {
    box-shadow: 5px 8px 10px rgba(0,0,0,.6);
}
#welcome .progressBar .bar {
    box-sizing: border-box;
    height: 100px;
    border: 3px solid #fff;
    padding: 3px;
    margin-bottom: 20px;
    display: block;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}
#welcome .progressBar .bar.loaded {
    display: none;
}
#welcome .progressBar .bar .progress{
    box-sizing: border-box;
    height: 88px;
    background: #fff url(../img/home-btn.jpg) top left no-repeat;
    width: 0;
    max-width: 100%;
    transition: width 0.25s linear;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}
#welcome .progressBar .texts {
    display: none;
}


#finish {
    background: darkgray url(../img/finish.jpg) top left no-repeat;
    color: #fff;
}

#finish > div {
    font-size: 42px;
    position: absolute;
    top: 400px;
    left: 240px;
    width: 1600px;
    text-align: left;
    line-height: 1.45em;
    display: none;
}
#finish > div.active {
    display: block;
}